<div class="container">
  <h2>Items To Do</h2>
  <h5 class="text-lighten-2">Complete the items by their due date or they will disappear forever!</h5>
  <br />
  <div class="row">
    <form class="col s12">
      <div class="input-field col s6">
        <label for="Item">Item</label>
        <input type="text" class="form-control" required name="item" #newcontent>
      </div>
      <i type="submit" (click)="createItem(newcontent)" class="material-icons">send</i>
    </form>
  </div>
  <table class="bordered">
    <tbody>
      <tr *ngFor="let item of items | incompleted" class="collection-item">
        <td><h5>{{item.name}}</h5></td>
        <td id="right">{{item.expires_at | date: 'mediumDate'}}<button (click)="completeItem(item)" class="waves-effect waves-light btn">Done</button></td>
      </tr>
    </tbody>
  </table>
</div>
