<div class="container">
  <h2>Items To Do</h2>
  <h5 class="text-lighten-2">Complete the items by their due date or they will disapper forever!</h5>
  <br />
  <div class="collection">
    <div class="collectionr">
      <a *ngFor="let item of items" class="collection-item">
        <div>{{item.name}}<span class="badge">{{item.expires_at | date: 'mediumDate'}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox" (click)="completeItem(item)" class="filled-in" id="filled-in-box"/>
            <label for="filled-in-box">Complete</label>
          </span>
        </div>
      </a>
    </div>
  </div>
</div>
