<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Blocitoff</h1>
      <div class="row center">
        <h5 class="header col s12 light" id="hero-desc">A self-destructing to-do list to keep you focused on the things that matter.</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="../assets/images/background1.png" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">bookmark_border</i></h2>
          <h5 class="center">Organize your time</h5>

          <p class="light">Use this to-do list site to organize your time and stay foscused on things that matter.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">access_time</i></h2>
          <h5 class="center">One week to complete</h5>

          <p class="light">Once you add a task to your to-do list the clock is ticking. You will have one week to complete the task before it is gone forever. If a task isn't completed within a week, it's not important enough to be on your to-do list.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">attach_money</i></h2>
          <h5 class="center">It's free</h5>

          <p class="light">Create an account and get started in seconds. It's free.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Get in touch</h5>
        <p class="grey-text text-lighten-4">I built this as my capstone project at Bloc. You can connect with me via GitHub, Linkedin or email by following the links. You can also learn more about Bloc.</p>
      </div>

      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="https://github.com/ConradPacesa">Github</a></li>
          <li><a class="white-text" href="https://www.linkedin.com/in/conradpacesa/">Linkedin</a></li>
          <li><a class="white-text" href="mailto:conradpacesa@gmail.com">Email</a></li>
          <li><a class="white-text" href="https://www.bloc.io">Bloc</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
